<h1>My questions</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" id="question" class="form-control" ng-model="vm.question.text" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveQuestion()">Add</button>
        </div>
    </form>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="question in vm.questions" ng-model="vm.questions">
                {{question.text}}.
        </li>
    </ul>
</div>